table{
    margin: auto
}

table, th, tr, td{
    border-collapse: collapse;
    border: 1px solid black;
    overflow: hidden;
}

.titulo{
    background-color: rgb(126, 199, 231);
}

.subDivisoes{
    background-color: rgb(209, 254, 254);
}

.pintado{
    background-color: rgb(252, 252, 181);
}
img{
    height: 80px;
}